@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
html {
  min-width: 320px;
  overflow-x: auto; }

.container {
  max-width: 1110px;
  margin: 0px auto;
  padding: 0px 20px;
  display: block; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.nav_1 {
  background: #E5E5E5;
  block-size: 100%;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (max-width: 459.98px) {
    .nav_1 {
      padding-left: 20px;
      padding-right: 20px; } }
  .nav_1 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .nav_1 ul li {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #333333; }
      .nav_1 ul li a, .nav_1 ul li a:visited, .nav_1 ul li a:hover, .nav_1 ul li a:active {
        color: inherit; }
    .nav_1 ul li:not(:last-child) {
      margin: 0px 30px 0px 0px; }

.header_main {
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header_main .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .header_main .logo .logo_name {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      letter-spacing: 0.1em;
      color: #66C05D;
      margin-left: 20px; }
      @media (max-width: 649.98px) {
        .header_main .logo .logo_name {
          display: none; } }
  .header_main .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .header_main .contact > div:not(:last-child) {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      margin-right: 40px;
      color: #000000; }
      @media (max-width: 444.98px) {
        .header_main .contact > div:not(:last-child) {
          margin-right: 10px; } }
    .header_main .contact > div:not(:first-child) {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
      background: #FFFFFF;
      border: 2px solid #66C05D;
      border-radius: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      min-height: 40px;
      padding: 12px 26px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      cursor: pointer; }
      @media (max-width: 459.98px) {
        .header_main .contact > div:not(:first-child) {
          padding: 6px 13px; } }
      @media (max-width: 429.98px) {
        .header_main .contact > div:not(:first-child) {
          display: none; } }

.nav_2 {
  min-height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .nav_2 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .nav_2 ul li {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #000000; }
      .nav_2 ul li a, .nav_2 ul li a:visited, .nav_2 ul li a:hover, .nav_2 ul li a:active {
        color: inherit; }
    .nav_2 ul li:not(:last-child) {
      margin: 0px 30px 0px 0px; }

hr {
  background-color: #EFEFEF;
  color: #EFEFEF;
  height: 1px;
  width: 100%; }

.super_chair {
  background: url(../img/main.png);
  min-height: 604px;
  background-repeat: no-repeat;
  padding-top: 192px; }
  @media (max-width: 1369.98px) {
    .super_chair {
      background-position: 60% 60%;
      background-repeat: no-repeat; } }
  .super_chair p:first-child {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF; }
  .super_chair p:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF; }
  .super_chair p:nth-child(3) {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: #66C05D;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 40px;
    padding: 12px 26px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    width: 170px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .super_chair p:not(:last-child) {
    margin-bottom: 50px; }

.shop {
  min-height: 954px;
  background: #EFEFEF;
  padding-top: 80px; }
  .shop .offer {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 38px; }
  .shop .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 802.98px) {
      .shop .products {
        -ms-flex-pack: distribute;
        justify-content: space-around; } }
    .shop .products .product {
      background: #FFFFFF;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 255px;
      padding-top: 25px;
      min-height: 363px;
      padding-bottom: 38px;
      margin-bottom: 10px; }
      @media (max-width: 548.98px) {
        .shop .products .product {
          width: 100%; } }
      .shop .products .product p:first-of-type {
        font-weight: 400;
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 20px; }
      .shop .products .product p:nth-of-type(2) {
        font-weight: bold;
        font-size: 21px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.05em;
        margin-bottom: 20px;
        color: #000000; }
      .shop .products .product p:nth-of-type(3) {
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        background: #66C05D;
        border-radius: 30px;
        padding: 9px 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-height: 35px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        cursor: pointer;
        width: 170px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }

.info {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .info .info_1 {
    width: 48%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 212px;
    background: #66C05D; }
    @media (max-width: 985.98px) {
      .info .info_1 {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 4px; } }
    .info .info_1 .info_1_1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-top: 35px;
      padding-bottom: 35px;
      padding-left: 40px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 65%; }
      @media (max-width: 519.98px) {
        .info .info_1 .info_1_1 {
          padding-left: 0; } }
      .info .info_1 .info_1_1 div:first-of-type {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF; }
      .info .info_1 .info_1_1 div:nth-of-type(2) {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF; }
      .info .info_1 .info_1_1 div:nth-of-type(3) {
        color: #FFFFFF;
        font-weight: 400;
        font-size: 14px;
        background: #FFFFFF;
        border: 2px solid #FFFFFF;
        border-radius: 30px;
        padding: 9px 28px;
        max-width: 225px; }
        .info .info_1 .info_1_1 div:nth-of-type(3) #email {
          border: none;
          outline: none; }
    .info .info_1 .info_1_2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      @media (max-width: 519.98px) {
        .info .info_1 .info_1_2 {
          display: none; } }
  .info .info_2 {
    width: 48%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 212px;
    background: #66C05D; }
    @media (max-width: 985.98px) {
      .info .info_2 {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .info .info_2 .info_2_1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-top: 35px;
      padding-bottom: 35px;
      padding-left: 40px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 55%; }
      @media (max-width: 519.98px) {
        .info .info_2 .info_2_1 {
          padding-left: 0; } }
      .info .info_2 .info_2_1 div:first-of-type {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF; }
      .info .info_2 .info_2_1 div:nth-of-type(2) {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF; }
      .info .info_2 .info_2_1 div:nth-of-type(3) {
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        background: #66C05D;
        border: 2px solid #FFFFFF;
        border-radius: 30px;
        max-width: 170px;
        padding: 9px 29px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-height: 35px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        cursor: pointer;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
    .info .info_2 .info_2_2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      @media (max-width: 519.98px) {
        .info .info_2 .info_2_2 {
          display: none; } }

.social {
  background: #FFFFFF; }
  .social .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 120px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .social .container .icons img:not(:last-child) {
      margin-right: 20px; }
    @media (max-width: 519.98px) {
      .social .container .icons img {
        margin-bottom: 2px; } }
    .social .container div:nth-of-type(2) {
      font-size: 14px;
      line-height: 16px;
      color: #000000; }
    .social .container div:nth-of-type(3) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .social .container div:nth-of-type(3) div:first-of-type {
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        margin-right: 40px; }
        @media (max-width: 689.98px) {
          .social .container div:nth-of-type(3) div:first-of-type {
            display: none; } }
      .social .container div:nth-of-type(3) div:nth-of-type(2) {
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        background: #FFFFFF;
        border: 2px solid #66C05D;
        border-radius: 40px;
        padding: 12px 26px;
        max-width: 170px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-height: 40px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        cursor: pointer;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        @media (max-width: 819.98px) {
          .social .container div:nth-of-type(3) div:nth-of-type(2) {
            display: none; } }

footer {
  background: #EFEFEF; }
  footer .footer_text {
    background: #EFEFEF;
    min-height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
